@model DashboardViewModel
<h1>Shhh.... SECRETS</h1>
<hr>
<h2>Recent Secrets</h2>
@foreach(Secret s in Model.AllSecrets)
{
    if(s.user_id == Model.UserId)
    {
        <p>@s.content (@s.created_at.ToString("D")) <a href="/secret/delete/@s.secret_id">DELETE</a></p>
    }
    else
    {
        if(s.Likes.Any(l => l.user_id == Model.UserId))
        {
            <p>@s.content (@s.created_at.ToString("D")) YOU LIKED THIS</p>
        }
        else
        {
            <p>@s.content (@s.created_at.ToString("D")) <a href="/secret/like/@s.secret_id">LIKE</a></p>
        }
    }
}