@model DashboardModel
<h1>Shhh.... SECRETS, @Model.LoggedInUser.first_name</h1>
<hr>
<h3>Add a new secret!</h3>
<form asp-controller="Secret" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NewSecret.content"></label>
        <span asp-validation-for="NewSecret.content"></span>
        <textarea asp-for="NewSecret.content"></textarea>
    </div>
    <input type="hidden" asp-for="NewSecret.user_id" value="@Model.LoggedInUser.user_id">
    <input type="submit" value="Add Secret!">
</form>
<hr>
<h3>Recent Secrets</h3>
@foreach(var secret in Model.RecentSecrets)
{
    if(secret.user_id == Model.LoggedInUser.user_id)
    {
        <p>@secret.content (@secret.CreatedElapsed) @secret.Likes.Count likes | <a href="/secret/delete/@secret.secret_id">[DELETE]</a></p>
    }
    else if(secret.Likes.Any(l => l.user_id == Model.LoggedInUser.user_id))
    {
        <p>@secret.content (@secret.CreatedElapsed) @secret.Likes.Count likes | YOU LIKED THIS</p>
    }
    else
    {
        <p>@secret.content (@secret.CreatedElapsed) @secret.Likes.Count likes | <a href="/secret/like/@secret.secret_id">[LIKE]</a></p>
    }
}
